body {
  background: #bdc3c7;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  background-image: url(MyAvatar6.jpg);
  background-size: 100%;
  /* background-repeat: no-repeat; */
}

#playe {
  margin-top: -50px;
  margin-left: -50px;
}

.image5 {
  width: 240px;
  height: 150px;
  border-radius: 12px;
  margin-left: -65px;
  margin-top: -200px;
  cursor: pointer;
}

.video-open {
  font-size: 30px; 
  color: white; 
  margin-left: -75px; 
  text-decoration: none; 
  box-shadow: 0 4px 0 #2880b9;
  border-radius: 18px;
  cursor: pointer;
  width: 237px;
  height: 32px;
  background: #3498db;
  box-shadow: 0 4px 0 #2880b9;
  border-radius: 18px;
  line-height: 36px;
  text-align: center;
  user-select: none;
}

/*å‹•ç”»è¡¨ç¤ºã®ãƒ¢ãƒ¼ãƒ€ãƒ«ã®ä½™ç™½ã‚’å¤‰æ›´ã—ãŸã„å ´åˆ*/
.modaal-video .modaal-inner-wrapper{
	padding:0;
}

/*ãƒ¢ãƒ¼ãƒ€ãƒ«ã®ãƒœã‚¿ãƒ³ã®è‰²ã‚’å¤‰æ›´ã—ãŸã„å ´åˆ*/
.modaal-close:after, 
.modaal-close:before{
	background:#ccc;	
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}

.modaal-video-container {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  box-shadow: 0 0 10pxrgba(0,0,0,.3);
  background: #2c23a2;
/*   max-width: 1331px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: -120px;
}


main {
  width: 263px;
  height: 115px;
  background: #ecf0f1;
  padding: 15px;
  border: 4px solid #fff;
  border-radius: 12px;
  margin: 13px auto;
  display: flex;
  justify-content: space-around;
  margin-left: 580px;
  margin-top: 576px;
}

.panel img {
  width: 90px;
  height: 92px;
  margin-bottom: 8px;
}

.stop {
  cursor: pointer;
  width: 70px;
  height: 24px;
  background: #ef454a;
  box-shadow: 0 4px 0 #d1483e;
  border-radius: 16px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  user-select: none;
  margin-left: auto;
  margin-right: auto;
}

#spin {
    cursor: pointer;
    width: 210px;
    height: 40px;
    background: #3498db;
    box-shadow: 0 4px 0 #2880b9;
    border-radius: 18px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    user-select: none;
    margin-left: 626px;
    margin-top: 0;
    font-size: 30px;
}

.unmatched {
  opacity: 0.5;
}

.inactive {
  opacity: 0.5;
}
